@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --bg-dark: #000;
    --bg-light: #ffffff00;
    --bg-grey: #f2f2f2;
    --btn-col: #000;
    --btn-col-hover: #333;
    --btn-text-col: #d2d2d2;
    --btn-text-hover-col: #fff;
    --border-col: #333;
}

h1{
    font-size: 3em;
    font-weight: 700;
}

h2{
    font-size: 2em;
    font-weight: 700;
}

h3{
    font-size: 1.5em;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}
*{
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: "Rubik", serif;
}
body{
    background-color: var(--bg-light);
    color: #000;
}

::-webkit-scrollbar{
    display: none;
}

/* Navbar */
nav{
    padding: 25px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.nav-links{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.nav-btn{
    background-color: var(--btn-col);
    color: var(--btn-text-col);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-btn:hover{
    background-color: var(--btn-col-hover);
    color: var(--btn-text-hover-col);
}
/* Hero */
.hero{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*  Features  */

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 95vh;
    gap: 50px;
}

.features-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.feature-box{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
    width: 20%;
    height: 50vh;
    border: var(--border-col) 2px solid;
    border-radius: 30px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.feature-box:hover{
    transform: scale(1.01);
}

.feature-text{
    line-height: 2.5;
}

.feature-box p{
    line-height: normal;
}
/* how-it-works */

.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 95vh;
    gap: 50px;
}

.how-it-works-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.hiw-text{
    position: relative;
    right: 100px;
    line-height: 2.5;
}

.hiw-img img{
    /* background-image: url('/img/digital-java-code-text-computer (1).png'); */
    position: relative;
    left: 271px;
    height: 120vh;
    width: 48vw;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.hiw-img img:hover{
    transform: scale(1.01);
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    height: 95vh;
    line-height: 2;
}

.subs-btn{
    background-color: var(--btn-col);
    color: var(--btn-text-col);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.subs-btn:hover{
    background-color: var(--btn-col-hover);
    color: var(--btn-text-hover-col);
    cursor: pointer;
}

.subs-input{
    padding: 10px;
    border-radius: 5px;
    border: var(--border-col) 2px solid;
    outline: none;
    width: 300px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 10vh;
    background-color: var(--bg-dark);
    color: #fff;
}

/*  Signup page */

.signup-container, .signin-container{
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-box, .signin-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: var(--border-col) 2px solid;
    border-radius: 30px;
    width: 22%;
    height: 70%;
}

.signup-box form, .signin-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.signup-box form .form-group, .signin-box form .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.signup-box form input, .signin-box form input{
    padding: 7px;
    border-radius: 5px;
    border: var(--border-col) 2px solid;
    outline: none;
    width: 95%;
}


.signup-box .toggle-password {
    position: absolute;
    transform: translateX(1750%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
}
.signin-box .toggle-password {
    position: absolute;
    transform: translateX(1750%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.password-in{
    display: flex;
    align-items: center;
    
}

.strength-bar {
    height: 10px;
    width: 100%;
    background: #ddd;
    margin-top: 5px;
    border-radius: 5px;
}

.strength-bar div {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}
.weak { background: red; }
.medium { background: orange; }
.strong { background: green; }

.signup-btn, .signin-btn{
    background-color: var(--btn-col);
    color: var(--btn-text-col);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.signup-btn:hover, .signin-btn:hover{
    background-color: var(--btn-col-hover);
    color: var(--btn-text-hover-col);
}

/* Dashboard Page */
.dashboard{
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.createRoom{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 20%;
    width: 100%;
    background-color: var(--bg-grey);
}
.createRoom-in{
    padding: 10px;
    border-radius: 5px;
    border: var(--border-col) 2px solid;
    outline: none;
    width: 350px;
}

.createRoom-btn{
    background-color: var(--btn-col);
    color: var(--btn-text-col);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.createRoom-btn:hover{
    background-color: var(--btn-col-hover);
    color: var(--btn-text-hover-col);
}

.roomList{
    padding: 20px;
    height: 100%;
}

#roomsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 75%;
    width: 100%;
    overflow-y: auto;
}

.room{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: var(--border-col) 2px solid;
    cursor: pointer;
}

.room:hover{
    background-color: var(--bg-grey);
}

.deleteRoom{
    background-color: rgb(150, 17, 17);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.deleteRoom:hover{
    background-color: rgb(200, 17, 17);
}